{% extends "redbricks/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="form-card mt-2">
              <div class="pic-container">
                  <a href="#" id="pic">
                      <img src="{{ user.userprofile.image.url }}" class="rounded-circle float-center" style="width: 200px; height: 200px;">
                      <div class="overlay" data-toggle="modal" data-target="#exampleModalCenter">Update Profile Picture</div>
                  </a>
              </div>
                <div class="card-header">
                    <div id="item-0">
                        <h2>{{ user.username }}</h2>
                        <a id="username" href="#">Edit   <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><br>
                        <small id="username-alert" class="text text-danger" style="display: none;">Username Already Taken, Please choose another!</small>
                        <div class="form-group" id="username-form" style="display: none;">
                            {% csrf_token %}
                            <input name="username" placeholder="Enter Username">
                            <input id="username-btn" type="submit" class="btn btn-primary btn-sm" value="Update">
                            <i class="fa fa-times ml-4" id="username-dismis" aria-hidden="true"></i>
                        </div>
                      </div>
                </div>
                <div class="card-body">
                    <div class="list-group">
                      <div id="item-1">
                        <div class="list-group-item">
                           <h4>Email Id :</h4><span>{{ user.email }}</span>
                            <a id="email" href="#">Edit   <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><br>
                            <small id="email-alert" class="text text-danger" style="display: none;">This Email Already Taken, Please choose another!</small>
                            <div class="form-group" id="email-form" style="display: none;">
                                {% csrf_token %}
                                <input name="email" placeholder="Enter Email">
                                <input id="email-btn" type="submit" class="btn btn-primary btn-sm" value="Update">
                                <i class="fa fa-times ml-4" id="email-dismis" aria-hidden="true"></i>
                            </div>
                        </div>
                      </div>
                    <div id="item-2">
                    {% if user.userprofile.name %}
                        <div class="list-group-item">
                            <h4>Full Name :</h4><span>{{ user.userprofile.name }}</span>
                            <a href="#" class="name">Edit   <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <div class="form-group name-form" style="display: none;">
                                 {% csrf_token %}
                                <input name="name" placeholder="Enter Full Name">
                                <input type="submit" class="btn btn-primary btn-sm name-btn" value="Update">
                                <i class="fa fa-times ml-4 name-dismis" aria-hidden="true"></i>
                            </div>
                        </div>
                    {% else %}
                        <div class="list-group-item">
                            <h4>Full Name :</h4>
                            <a href="#" class="name">Add Your Name <i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
                            <div class="form-group name-form" style="display: none;">
                                {% csrf_token %}
                                <input name="name" placeholder="Enter Full Name">
                                <input type="submit" class="btn btn-primary btn-sm name-btn" value="Update">
                                <i class="fa fa-times ml-4 name-dismis" aria-hidden="true"></i>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                    <div id="item-3">
                    {% if user.userprofile.current_city %}
                        <div class="list-group-item">
                            <h4>Current City :</h4><span>{{ user.userprofile.current_city }}</span>
                            <a class="city" href="#">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <div class="form-group city-form" style="display: none;">
                                 {% csrf_token %}
                                <input name="city" placeholder="Enter current city">
                                <input type="submit" class="btn btn-primary btn-sm city-btn" value="Update">
                                <i class="fa fa-times ml-4 city-dismis" aria-hidden="true"></i>
                            </div>
                        </div>
                    {% else %}
                        <div class="list-group-item">
                            <h4>Current City :</h4>
                            <a class="city" href="#">Add City <i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
                            <div class="form-group city-form" style="display: none;">
                                 {% csrf_token %}
                                <input name="city" placeholder="Enter current city">
                                <input type="submit" class="btn btn-primary btn-sm city-btn" value="Update">
                                <i class="fa fa-times ml-4 city-dismis" aria-hidden="true"></i>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-2">
            <h4>My Reviews</h4>
            <hr>
        {% for review in my_reviews %}
          <div class="media border bg-white p-3">
            <img src="{{ review.restaurant.restaurant_pic.url }}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:80px; height:80px">
            <div class="media-body">
              <h5>{{ review.restaurant }}<small><i> Posted on February 19, 2016</i></small></h5>
              <div class="ratings">
              {% if review.ratings == 1 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
              {% elif review.ratings == 2 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
              {% elif review.ratings == 3 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
              {% elif review.ratings == 4 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-o"></span>
              {% elif review.ratings == 5 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              {% endif %}
                <span class="fa fa-star-o"></span><br>
                <small class="text text-muted">{{ review.ratings }} Ratings by - {{ review.reviewer }}</small>
              </div>
            <p>{{ review.comments }}</p>
            </div>
          </div>
            <div class="media mb-2">
                <a  class="btn btn-block btn-info" href="{% url 'redbricks-review-update' review.pk%}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <button class="btn btn-block btn-danger mt-0" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        {% endfor %}
        </div>
    </div>

<!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Upload Photo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data" class="form-group">
                {% csrf_token %}
                    {{ form | crispy}}
                <input type="submit" class="btn btn-primary mt-4" value="Save">
                <button type="button" class="btn btn-secondary mt-4" data-dismiss="modal">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}