{% extends "redbricks/base.html" %}
{% load crispy_forms_tags %}
{%  load static%}
{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5 m-4">
          <form method="post">
              {% csrf_token %}
            <div class="form-card mt-4">
                <div class="card-header">
                    <img src="{% static 'redbricks/images/logo.jpeg' %}">
                </div>
                <div class="card-body">
                    {{ form | crispy }}
                </div>
                <div class="card-footer">
                    <button class="btn-danger">Sign Up</button>
                </div>
            </div>
          </form>
            <hr>
            Already Have An Account?<a href="{% url 'login' %}"> Sign In</a>
        </div>
    </div>
{% endblock %}