<div id="item-1">
    <h4>Email Id :</h4><span>{{ user.email }}</span>
    <a id="email" href="#">Edit   <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <div class="form-group" id="email-form" style="display: none;">
        {% csrf_token %}
        <input name="email" placeholder="Enter Email">
        <input id="email-btn" type="submit" class="btn btn-primary btn-sm" value="Update">
        <i class="fa fa-times ml-4" id="email-dismis" aria-hidden="true"></i>
    </div>
</div>