<div id="item-1">
    <div class="list-group-item">
       <h4>Email Id :</h4><span>{{ profile.user.email }}</span>
        <a id="email" href="#">Edit   <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><br>
        <small id="email-alert" class="text text-danger" style="display: none;">This Email Already Taken, Please choose another!</small>
        <div class="form-group" id="email-form" style="display: none;">
            {% csrf_token %}
            <input name="email" placeholder="Enter Email">
            <input id="email-btn" type="submit" class="btn btn-primary btn-sm" value="Update">
            <i class="fa fa-times ml-4" id="email-dismis" aria-hidden="true"></i>
        </div>
    </div>
</div>