<div id="item-3">
{% if user.userprofile.current_city %}
    <div class="list-group-item">
        <h4>Current City :</h4><span>{{ user.userprofile.current_city }}</span>
        <a class="city" href="#">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <div class="form-group city-form" style="display: none;">
             {% csrf_token %}
            <input name="city" placeholder="Enter current city">
            <input type="submit" class="btn btn-primary btn-sm city-btn" value="Update">
            <i class="fa fa-times ml-4 city-dismis" aria-hidden="true"></i>
        </div>
    </div>
{% else %}
    <div class="list-group-item">
        <h4>Current City :</h4>
        <a class="city" href="#">Add City <i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
        <div class="form-group city-form" style="display: none;">
             {% csrf_token %}
            <input name="city" placeholder="Enter current city">
            <input type="submit" class="btn btn-primary btn-sm city-btn" value="Update">
            <i class="fa fa-times ml-4 city-dismis" aria-hidden="true"></i>
        </div>
    </div>
{% endif %}
</div>