{% extends "redbricks/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-5">
      <form method="post">
          {% csrf_token %}
        <div class="form-card mt-2">
            <div class="card-header bg-secondary">Review</div>
            <div class="card-body">
                {{ form | crispy }}
            </div>
            <div class="card-footer">
                <button class="btn-danger">Post</button>
            </div>
        </div>
      </form>
    </div>
    <div class="col-md-5 ml-4 mt-2">
        <h4>My Reviews</h4>
            <hr>
        {% for review in object_list %}
          <div class="media border bg-white p-3">
            <img src="{{ review.restaurant.restaurant_pic.url }}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:80px; height:80px">
            <div class="media-body">
              <h5>{{ review.restaurant }}<small><i> Posted on February 19, 2016</i></small></h5>
              <div class="ratings">
              {% if review.ratings == 1 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
              {% elif review.ratings == 2 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
              {% elif review.ratings == 3 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-o"></span>
                <span class="fa fa-star-o"></span>
              {% elif review.ratings == 4 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-o"></span>
              {% elif review.ratings == 5 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              {% endif %}
                <span class="fa fa-star-o"></span><br>
                <small class="text text-muted">{{ review.ratings }} Ratings by - {{ review.reviewer }}</small>
              </div>
            <p>{{ review.comments }}</p>
            </div>
          </div>
        {% empty %}
            No Reviews
        {% endfor %}
        <div class="mt-2 ">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                  <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
      </div>
    </div>
</div>
{% endblock %}